body {
	overflow: hidden;
	font-family: Sans-Serif;
	font-size: 24px;
	background-color: #CCC;
}

.hex {
	float: left;
	position: relative;
	width: 104px;
	height: 60.04px;
	margin: 15.01px 0;
	border-left: solid 1px #444444;
	border-right: solid 1px #444444;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../img/ground.png");
}

.hex:before,
.hex:after {
	content: "";
	z-index: -1;
	position: absolute;
	width: 73.54px;
	height: 73.54px;
	left: 14.2304px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	background-image: url("../img/ground.png");
}

.hex:before {
	top: -36.7696px;
	border-top: solid 1.4142px #333333;
	border-right: solid 1.4142px #333333;
}

.hex:after {
	bottom: -36.7696px;
	border-bottom: solid 1.4142px #333333;
	border-left: solid 1.4142px #333333;
	box-shadow: 0 15px 30px rgb(197, 192, 177);
}

.hex-row {
	clear: left;
}

.hex-row.odd {
	margin-left: 53px;
}

/* colors based on MSWord color pallet and then adding 40% (184, 178, 156) from water.png bg */
.color-white {
	background-color: rgb(227, 224, 215);
}

.color-red {
	background-color: rgb(164, 74, 69);
}

.color-green {
	background-color: rgb(108, 141, 8);
}

.color-blue {
	background-color: rgb(89, 125, 188);
}

.color-yellow {
	background-color: rgb(218, 187, 103);
}

.color-black {
	background-color: rgb(80, 83, 80);
}

.color-transparent,
.color-transparent:before,
.color-transparent:after {
	border: none;
	background-image: none;
	box-shadow: none;
	margin: 1px 1px 1px 1px;
}

.unit-hut {
	background-image: url("../img/ground.png"), url("../img/hut.png");
}

.unit-tree {
	background-image: url("../img/ground.png"), url("../img/tree.png");
}

.unit-grave {
	background-image: url("../img/ground.png"), url("../img/grave.png");
}

.unit-castle {
	background-image: url("../img/castle.png");
}

.unit-man {
	background-image: url("../img/man.png");
}

.unit-spearman {
	background-image: url("../img/spearman.png");
}

.unit-knight {
	background-image: url("../img/knight.png");
}

.unit-baron {
	background-image: url("../img/baron.png");
}

.narwhal {
	background-image: url("../img/narwhal.png");
	background-size: 60px;
}

.walrus {
	background-image: url("../img/walrus.png");
	background-size: 90px;
}

.kraken {
	background-image: url("../img/kraken.png");
	background-size: 70px;
}

.ship {
	background-image: url("../img/ship.png");
	background-size: 60px;
}

.draggable {
	position: absolute;
	z-index: 9;
	background-repeat: no-repeat;
	height: 65px;
	width: 65px;
}

.vertical-map {
	position: absolute;
	border: solid 1px;
	background-repeat: repeat;
	background-image: url("../img/water.png");
	height: calc(75% + 15px);
	width: calc(100% - 20px);
	z-index: -2;
}

.vertical-panel {
	position: absolute;
	top: calc(75% + 30px);
	width: 100%;
}

.horizontal-map {
	position: absolute;
	border: solid 1px;
	background-repeat: repeat;
	background-image: url("../img/water.png");
	height: calc(100% + 15px);
	width: calc(80% - 20px);
	z-index: -2;
}

.horizontal-panel {
	position: absolute;
	left: calc(80% + 15px);
	height: calc(100% + 15px);
	width: 20%;
}

#tiles {
	margin-top: 15px;
}

#economy {
	float: left;
	padding-right: 15%;
	padding-bottom: 90px;
}

#players {
	float: left;
	padding-right: 15%;
	padding-bottom: 20px;
}

#units {
	float: left;
	padding-right: 15%;
	padding-bottom: 20px;
}

#buttons {
	float: left;
	padding-right: 15%;
}
