body {
	font-family: Sans-Serif;
	font-size: 24px;
	background-color: #CCC;
}

.hex {
	float: left;
	position: relative;
	width: 104px;
	height: 60.04px;
	margin: 15.01px 0;
	border-left: solid 1px #333333;
	border-right: solid 1px #333333;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	/* background-image: url(../img/ground.png); */
}

.hex:before,
.hex:after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 73.54px;
	height: 73.54px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 14.2304px;
	/* background-image: url(../img/ground.png); */
}

.hex:before {
	top: -36.7696px;
	border-top: solid 1.4142px #333333;
	border-right: solid 1.4142px #333333;
}

.hex:after {
	bottom: -36.7696px;
	border-bottom: solid 1.4142px #333333;
	border-left: solid 1.4142px #333333;
}

.hex-row {
	clear: left;
}

.hex-row.odd {
	margin-top: 50px;
	margin-left: 53px;
}

.color-white {
	background-color: rgb(255, 255, 255);
}

.hex.color-red {
	background-color: rgb(151, 4, 11);
}

.hex.color-green {
	background-color: rgb(58, 117, 36);
}


.hex.color-blue {
	background-color: rgb(25, 89, 201);
}

.hex.color-yellow {
	background-color: rgb(240, 193, 67);
}

.hex.color-black {
	background-color: rgb(10, 20, 30);
}

.hex.color-transparent,
.hex.color-transparent:before,
.hex.color-transparent:after {
	border: 0px;
}

.hex.unit-hut {
	background-image: url("../img/hut.png");
	background-size: 50px;
}

.hex.unit-castle {
	background-image: url("../img/castle.png");
	background-size: 40px;
}

.hex.unit-tree {
	background-image: url("../img/tree.png");
	background-size: 50px;
}

.hex.unit-grave {
	background-image: url("../img/grave.png");
	background-size: 50px;
}

.hex.unit-man {
	background-image: url("../img/man.png");
	background-size: 45px;
}

.hex.unit-spearman {
	background-image: url("../img/spearman.png");
	background-size: 40px;
}

.hex.unit-knight {
	background-image: url("../img/knight.png");
	background-size: 40px;
}

.hex.unit-baron {
	background-image: url("../img/baron.png");
	background-size: 60px;
}

.hex.narwhal {
	background-image: url("../img/narwhal.png");
	background-size: 60px;
}

.hex.walrus {
	background-image: url("../img/walrus.png");
	background-size: 90px;
}

.hex.kraken {
	background-image: url("../img/kraken.png");
	background-size: 80px;
}

.hex.ship {
	background-image: url("../img/ship.png");
	background-size: 60px;
}

.draggable {
	position: absolute;
	z-index: 9;
}

.unit {
	border-style: hidden;
}
.unit::after {
	border-style: hidden;
}
.unit::before {
	border-style: hidden;
}

.vertical-map {
	position: absolute;
	border: solid 1px;
	background-repeat: repeat;
	background-image: url("../img/water.png");
	height: calc(75% + 15px);
	width: calc(100% - 20px);
	z-index: -2;
}

.vertical-panel {
	position: absolute;
	top: calc(75% + 30px);
	width: 100%;
}

.horizontal-map {
	position: absolute;
	border: solid 1px;
	background-repeat: repeat;
	background-image: url("../img/water.png");
	height: calc(100% + 15px);
	width: calc(80% - 20px);
	z-index: -2;
}

.horizontal-panel {
	position: absolute;
	left: calc(80% + 15px);
	height: calc(100% + 15px);
	width: 20%;
}

#tiles {
	margin-top: 15px;
}

#economy {
	float: left;
	padding-right: 15%;
	padding-bottom: 90px;
}

#players {
	float: left;
	padding-right: 15%;
	padding-bottom: 20px;
}

#units {
	float: left;
	padding-right: 15%;
	padding-bottom: 20px;
}

#buttons {
	float: left;
	padding-right: 15%;
}
